.tópicos {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    text-align: center;
    padding: 1em 0;
}

.tópicos__titulo {
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 1em;
 }

 .tópicos__lista {
    display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }

 .tópicos__item {
    margin: 2em 0.5em;
 }



 .tópicos__link {
    color: #FFFFFF;
     padding: 1em;
     background-color:#2065FE;
     text-decoration: none;
     font-size: 14px;
     font-weight: 700;
 
 }

 @media screen and (min-width: 1024px) {
    .tópicos__titulo {
        font-size: 24px;
    }

    .tópicos__link {
        font-size: 24px;
    }
}



@media screen and (min-width: 1728px) {
    .tópicos {
        padding: 3em 25vw;
    }
}